@import "tailwindcss";

:root {
    --background: #ffffff;
    font-family: "Poppins" sans-serif;
}

@theme inline {
    --font-sans:
        "Inter", "Inter Fallback", system-ui, -apple-system, sans-serif;

    --color-primaryBlack: #08090b;
    --color-text-primary: #ffffff;
    --color-text-secondary: #00ff88;
}
